<div class="next-prev-posts clearfix" data-current-url="{{url absolute="true"}}">
	<div class="next-wrap">
		<a class="next" href="">
			<span>Siguiente artículo</span>
			<h4></h4>
		</a>			
	</div>
	<div class="prev-wrap">
		<a class="prev" href="">
			<span>Artículo anterior</span>
			<h4></h4>
		</a>			
	</div>
</div>