{{!Begin of Social Icon List}}
<ul class="sf-social">
	{{!Begin Social item}}
	<li class="facebook">
		<a href="https://www.facebook.com/brendazamb?ref=bookmarks" target="_blank" title="Facebook"> {{!Change href="#" to href="YOUR_SOCIAL_URL"}}
			<i class="fa fa-facebook"></i>
		</a>
	</li>
	{{!End Social item}}
	
	{{!Begin Social item}}
	<li class="twitter">
		<a href="https://twitter.com/bren_zamb" target="_blank" title="Twitter"> {{!Change href="#" to href="YOUR_SOCIAL_URL"}}
			<i class="fa fa-twitter"></i>
		</a>
	</li>
	{{!End Social item}}

	{{!End Social item}}

	{{!Begin Social item}}
	<li class="linkedin">
		<a href="https://www.linkedin.com/profile/view?id=406525943&trk=miniprofile-name-link" target="_blank" title="LinkedIn"> {{!Change href="#" to href="YOUR_SOCIAL_URL"}}
			<i class="fa fa-linkedin"></i>
		</a>
	</li>
	{{!End Social item}}

	
	{{!End Social item}}

	{{!Paste your new social icon here}}
</ul>
{{!End of Social Icon List}}