<div class="widget about{{#unless widget_title}} no-title{{/unless}}{{#if custom_class}} {{custom_class}}{{/if}}">
	{{#if widget_title}}
	<h3 class="widget-title">{{{widget_title}}}</h3>
	{{/if}}
	<div class="widget-content">
		<div class="about-container">
			<div class="avatar">
				<img src="https://scontent-dfw.xx.fbcdn.net/hphotos-xap1/t31.0-8/p180x540/1618353_833916486670725_5283755084647748333_o.jpg" alt="avatar" align="middle">
			</div>
			<div class="desc">
				<h4 class="author-name">BRENDA ZAMBRANO</h4>	
				<p>
					Directora de Marketing Digital en Devbranding & Coach de Marcas Personales.
				</p>				
			</div>
		</div>
	</div>
</div>