<div class="sidebar-wrap">			
	
{{>widget/facebook-like widget_title="Forma parte de la comunidad:" fanpage_url="https://www.facebook.com/brendazamb?ref=bookmarks" show_faces="false" show_header="true" show-stream="false" show_border="false"}}			
	{{>widget/instagram widget_title="Lee libros geniales, aquí mis recomendaciones:" user_name="dekkerslade" api_token="518686459.9d1fadd.b2bb7107f2a745a78c991ddec9f0b161" api_clientid="9d1fadd22dc942e5a7c75f409fac0cc0" display="12" cols="3" show_follow_box="true"}}
	{{>widget/recent-tweets widget_title="Sigue el blog por twitter:" twitter_user_url="https://twitter.com/SunflowerTheme" twitter_widget_id="409933315160829952"}}


</div>

